<nav class="navbar navbar-expand-lg navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FK Mixing Progress</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="isLoggedIn$ | async">
      <li class="active"><a routerLink="/dashboard" routerLinkActive="active"><span class="glyphicon glyphicon-star"></span> Dashboard</a></li>
      <li><a routerLink="/bands" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span> Bands</a></li>
      <li><a routerLink="/projects" routerLinkActive="active"><span class="glyphicon glyphicon-th-list"></span> Projekte</a></li>
      <li><a routerLink="/users" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Benutzer</a></li>
      <li><a routerLink="/contact" routerLinkActive="active"><span class="glyphicon glyphicon-envelope"></span> Kontakt</a></li>
    </ul>
    <form class="navbar-form navbar-left" *ngIf="isLoggedIn$ | async">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Suche">
      </div>
      <button type="submit" class="btn btn-default">Los!</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn$ | async"><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Benutzer anlegen</a></li>
      <li *ngIf="isLoggedIn$ | async"><a (click)="onLogout()" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> Abmelden</a></li>
      <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Anmelden</a></li>
    </ul>
    <!--
    <button class="navbar-toggler" type="button" (click)="showResponsiveMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="responsiveTopNavVisible">
      <div class="navbar-nav">
        <a class="nav-item nav-link">Test1</a>
        <a class="nav-item nav-link">Test2</a>
      </div>
    </div>
  -->
  </div>
</nav>