<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FK Mixing Progress</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/dashboard" routerLinkActive="active"><span class="glyphicon glyphicon-star"></span> Dashboard</a></li>
      <li><a routerLink="/bands" routerLinkActive="active"><span class="glyphicon glyphicon-music"></span> Bands</a></li>
      <li><a routerLink="/projects" routerLinkActive="active"><span class="glyphicon glyphicon-th-list"></span> Projekte</a></li>
      <li><a routerLink="/users" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Benutzer</a></li>
      <li><a routerLink="/contact" routerLinkActive="active"><span class="glyphicon glyphicon-envelope"></span> Kontakt</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Registrieren</a></li>-->
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Anmelden</a></li>
      </ul>
  </div>
</nav>