<div class="panel panel-default">
  <!-- save navigation operator ?-->
  <div class="panel-heading">Band: {{band?.title}} / Projekte</div> 
  <div class="panel-body">
    <div>
      <table cellpadding="10px" class="table table-sm table-striped table-hover table-condensed table-responsive">
        <thead>
          <tr>
              <th class="col_md_1">#</th>
              <th class="col_md_5">Projekt</th>
              <th class="col_md_2">Anzahl Songs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects, index as i">
            <td>{{ (i+1) }}</td>
            <td><a class="project-item" [project]="project" [routerLink]="project.id"></a></td>
            <td>{{project.GetNOfSongs()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="#" class="badge badge-dark" routerLink="/bands">Zurück</a>
  </div>
  <br>
</div>




