<div class="panel panel-default">
  <div class="panel-heading">Song: {{song.title}}</div>
  <div class="panel-body">
    <div class="col-md-6">
      <table cellpadding="10px" class="table table-sm table-striped table-hover table-condensed table-responsive">
        <thead>
          <tr>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><meter min=0 max=6 value={{song.status}} optimum=6 high=5 low=3></meter></td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="#" class="badge badge-dark" [routerLink]="[previousRoute]">Zurück</a>
  </div>
</div>
